node_modules
jspm_packages

# Yarn
yarn-error.log

# Serverless directories
.serverless

# NuxtJS Directory
.nuxt

# logs
npm-debug.log

# Nuxt generate
dist

# Npm install
package-lock.json

# Others
.idea
.history
